#------------------------------------------------------------------------------- General
*~*
.DS_Store
*.gitignore
*.gitignore.*

#------------------------------------------------------------------------------- Binaries
*.o
*.a

#------------------------------------------------------------------------------- Python Binaries
*.pyc

#------------------------------------------------------------------------------- Makefile Repository
.mkrepo/

#------------------------------------------------------------------------------- Build dir
build-*/
build/

#------------------------------------------------------------------------------- Sublime text
*.sublime-project
*.sublime-workspace

#------------------------------------------------------------------------------- LaTeX Files
*.log
*.aux
*.backup
*.toc
*.ind
*.idx
*.ilg
*.blg
*.out
*.bbl
*.dvi
*.nav
*.pyg
*.snm
*.lof
*.glg
*.glo
*.gls
*.acn
*.acr
*.alg
*.ist
