<header>
    <nav class="navbar navbar-default navbar-static-top">
    <h1 class="sitename brand pull-left">RenderMen</h1>

        <ul class="nav navbar-nav pull-right">
            {% if user %}
            <li>
                <a href="#">
                    {{user.email}}
                </a>
            </li>

            <li>
                <a href="#">
                    Logout
                </a>
            </li>
            {% else %}
            <li>
                <a href="/login" class="dropdown-toggle" data-toggle="dropdown">
                    Login <strong class="caret"></strong>
                </a>
                <div class="dropdown-menu pull-right login-form">
                    {% include "login.html" %}
                </div>
            </li>
            {% endif %}





        </ul>

    </nav>
</header>