{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1 class="big-title">
        Rendering page
    </h1>

    <p class="alert alert-info">
        Rendering result
    </p>

    <!-- Main canvas -->
    <canvas id="renderCanvas" width="1024" height="512" style="border:1px solid #000000;">
      Your browser does not support HTML5 canvas.
    </canvas>

</div>

{% endblock %}

{% block javascript %}
<script src="/static/js/utils.js"></script>
<script src="/static/js/shader.js"></script>
<script src="/static/js/fullscreen.js"></script>
<script src="/static/js/renderer.js"></script>
{% endblock %}
