<form class="form-horizontal">
  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-1 control-label" for="username">Email</label>
    <div class="col-md-12">
      <input id="login-email" name="email" type="email" placeholder="Email" class="form-control input-md">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-1 control-label" for="password">Password</label>
    <div class="col-md-12">
      <input id="login-password" name="password" type="password" placeholder="Password" class="form-control input-md">
    </div>
  </div>

  <button id="login-btn" name="login" type="button" class="btn btn-block btn-success">Login</button>
</form>