{% extends "base.html" %}

{% block content %}


<div class="container row">
    <div class="col-md-3">
        <img src="{{user.picture}}?s=250" class="img-thumbnail">
    </div>

    <div class="col-md-9">
        <h1 class="big-username big-title">{{user.username}}</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Email :</strong> {{user.email}}
            </li>

            <li class="list-group-item">
                <strong>Credits :</strong> <span class="coins">{{user.credits}} <img src="/static/img/coin.png" /></span>
            </li>

        </ul>

        <h3>Scenes</h3>
        <ul class="list-group">
            {% for scene in scenes %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">{{scene.title}}</h4>
                <p class="list-group-item-description">{{scene.description}}</p>

                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    <span class="sr-only">60% Complete</span>
                  </div>
                </div>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}

{% block javascript %}
{% endblock %}
