<form class="form-horizontal">
  <!-- Email input-->
  <div class="form-group">
    <label class="col-md-1 control-label" for="email">Email</label>
    <div class="col-md-12">
      <input id="signup-email" name="email" type="email" placeholder="Email" class="form-control input-md">
    </div>
  </div>

  <!-- Username input-->
  <div class="form-group">
    <label class="col-md-1 control-label" for="username">Username</label>
    <div class="col-md-12">
      <input id="signup-username" name="username" type="text" placeholder="Username" class="form-control input-md">
    </div>
  </div>

  <!-- Password input-->
  <div class="form-group">
    <label class="col-md-1 control-label" for="password">Password</label>
    <div class="col-md-12">
      <input id="signup-password" name="password" type="password" placeholder="Password" class="form-control input-md">
    </div>
  </div>

  <button id="signup-btn" name="login" type="button" class="btn btn-block btn-success">Signup</button>
</form>